body {
  margin: 0;
  font-family: "Montserrat";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.nav {
  border-bottom: 2px rgb(21, 21, 22);
  width: 100%;
  height: 100px;
  padding-bottom: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  border: 1px solid rgba(255, 255, 255, 0.18);
  /* border-bottom: 4px rgb(212, 212, 212) solid; */
}

.nav-title-container {
  display: flex;
  align-items: center;
}

.nav-title {
  font-weight: 700;
  font-size: 35px;
  padding-top: 30px;
  padding-left: 20px;
  color: rgb(255, 156, 27);
  text-shadow: 1px 1px 2px #818181;
}

.logo-icon {
  height: 40px;
  width: 40px;
}

.navlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  background-color: rgb(244, 244, 244);
  padding: 40px;
  height: 40px;
  margin-top: 10px;
  margin-right: 10px;
  border: solid rgb(212, 212, 212) 1px;
  border-radius: 50px;
  box-shadow: 0px 3px 7px 3px rgba(194, 194, 194, 0.705);
}

.navlink {
  color: rgb(43, 43, 43);
  text-decoration: none;
  font-weight: 600;
}

.navlink:hover {
  color: rgb(137, 137, 137);
}

.nav-user {
  padding: 20px;
  margin: 20px;
  display: inline;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-bar {
  display: flex;
  gap: 50px;
  padding: 35px;
}

.category-icon {
}

.hero-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 90%;
}

.card-section {
  margin-top: 20px;
  display: grid;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;
}
.upcoming-events {
  font-weight: 600;
  color: rgb(244, 244, 244);
  text-align: center;
  font-size: 25px;
  margin-bottom: 40px;
  text-shadow: 2px 2px 4px #838383;
  border-radius: 40px;
  padding: 20px;
  border: solid rgb(212, 212, 212) 1px;
  box-shadow: 0px 3px 7px 3px rgba(83, 83, 83, 0.22);
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.25);
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(244, 244, 244);
  box-shadow: 0px 3px 7px 3px rgba(83, 83, 83, 0.705); */
  background: rgba(245, 245, 245, 0.25);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.card:hover {
  transform: translate(0, -8px);
  transition: 0.5s;
}

.card-title {
  text-align: center;
  font-weight: 400;
  color: rgb(21, 21, 22);
  text-decoration: none;
}

.card-location {
  font-weight: 500;
  color: rgb(43, 43, 43);
  text-align: center;
}
.card-image-container {
  overflow: hidden;
  height: 200px;
  width: 200px;
}
.card-image {
  box-shadow: 0px 3px 7px 3px rgba(217, 217, 217, 0.705);
}

.hero-image {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
  column-gap: 30px;
  margin: 30px;
}

.list-card {
  box-shadow: 0px 3px 7px 3px rgba(217, 217, 217, 0.705);
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 350px;
  align-items: center;
}

.list-card-picture {
}

.see-more-container {
  display: flex;
  justify-content: center;
}
